*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  // so mobile browsers doesnt bounce
  overflow: hidden;

  @include respond-small {
    // height: -webkit-fill-available;
    overflow: scroll;
  }
}

body {
  // position: fixed;
  // overflow: hidden;
  color: coral;
  @include respond-small {
  }
  background: linear-gradient(to right, $background-black, $background-gray);
}

a {
  text-decoration: none;
  color: white;
}

// #root {
//   height: 100vh;
// }

#root::before {
  z-index: -1;
}
