*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond-small {
    height: -webkit-fill-available;
  }
}

body {
  color: coral;
  @include respond-small {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  background: linear-gradient(to right, $background-black, $background-gray);
}

a {
  text-decoration: none;
  color: white;
}

#root {
  height: 100vh;
}

#root::before {
  z-index: -1;
}
