@mixin event($content) {
}

@mixin button-reset {
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

@mixin button-primary {
  border: 1px solid black;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

@mixin button-primary-hover {
  background-color: $primary;
  color: black;
  font-weight: bold;
}

@mixin button-danger-hover {
  background-color: $danger;
  color: black;
}

@mixin respond-small {
  @media screen and (max-width: 1000px) {
    @content;
  }
}
