@mixin event($content) {
  position: relative;

  &::after {
    content: $content;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.1rem;
    color: $event-gray;
    text-transform: uppercase;
  }
}
