.app-container {
  display: grid;
  grid-template-columns: 5rem auto;
  grid-template-rows: 10rem auto;
  height: 100vh;
  max-height: -webkit-fill-available;

  @include respond-small {
    grid-template-columns: auto;
    grid-template-rows: 6rem auto;
  }
}

.aside {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  background-color: $primary;

  @include respond-small {
    display: none;
  }
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;

  @include respond-small {
    padding: 1rem 1rem;
    width: 100vw;
  }
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  // @include respond-small {
  //   grid-row: 2;
  // }
}
