.header__arrows {
  display: flex;
  justify-content: center;
  align-items: center;

  & a:not(:last-of-type) {
    margin-right: 3rem;
  }
}

.arrows__button-left {
  width: 1.5rem;
  transform: rotate(180deg);

  &:hover {
    .arrow {
      fill: $primary;
    }
  }
}
.arrows__button-right {
  width: 1.5rem;
  margin-top: 5px;

  &:hover {
    .arrow {
      fill: $primary;
    }
  }
}

.button-today {
  text-transform: uppercase;
  color: white;
  position: relative;
  transition: all 0.4s;

  &::before {
    position: absolute;
    content: "";
    top: -0.9rem;
    left: -1rem;
    width: 72px;
    height: 35px;

    transition: all 0.2s;
    z-index: -1;
  }

  &:hover {
    &::before {
      position: absolute;
      content: "";
      top: -0.9rem;
      left: -1rem;
      width: 72px;
      height: 35px;
      border: 1px solid $primary;
      // background-color: $primary;
      z-index: -1;
    }

    // color: black;
  }
}

.arrow {
  fill: $event-gray;
  transition: all 0.4s;
}
