.aside {
  display: grid;
  grid-template-rows: 2fr 8fr 2fr;

  @include respond-small {
    grid-template-rows: 1fr;
    justify-content: end;
  }
  .user {
    grid-row: 3;
    align-self: end;

    @include respond-small {
      grid-row: 1;
      width: 3rem;
    }
  }

  .user__icon {
    fill: transparent;
    stroke: $background-black;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  .calendar-link {
    grid-row: 2;
    padding: 5px;
    align-self: start;
    transition: all 0.4s;

    @include respond-small {
      display: none;
    }

    &:hover {
      background-color: $background-black;
    }

    &:hover .calendar-link__path {
      stroke: white;
    }
  }

  .calendar-link__svg {
    fill: none;
  }

  .calendar-link__path {
    stroke: $background-black;
    stroke-width: 1px;
  }
}
