.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  padding: $main-section-padding;
  height: 100%;

  @include respond-small {
    gap: 0;
    padding: 0;
  }
}
