.center {
  display: grid;
  place-items: center;
  width: 60rem;
  height: 100%;
}

.dropdown {
  font-size: 2rem;
  cursor: pointer;
  width: 100%;
  margin-top: 10rem;
  position: relative;
  transition: all 0.4s;

  .dropdown__label {
    position: absolute;
    box-sizing: content-box;
    left: 0;
    top: 1rem;
    transition: all 0.4s;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .test {
    transform: translateY(-25px);
    font-size: 1.2rem;
    color: $event-gray;
  }

  .animate-label {
    transform: translateY(-25px);
    font-size: 1.2rem;
    color: $event-gray;
  }

  .dropdown__first {
    padding: 1rem 0;
    border-bottom: 1px solid $event-gray;
    height: 4rem;
    position: relative;
    transition: all 0.4s;
  }

  .dropdown__first:hover .dropdown__arrow {
    fill: $primary;
  }

  .animate-first {
    border-bottom: 1px solid $primary;
  }

  .dropdown__arrow {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    transition: all 0.4s;
  }

  .animate-arrow {
    transform: rotateX(180deg);
  }

  .dropdown__option {
    padding: 1rem 0;
    transition: all 0.4s;
  }

  .dropdown__option:hover {
    background-color: $primary;
    color: black;
    font-weight: bold;
  }

  .dropdown__menu {
    display: none;
  }

  .visible {
    display: block;
  }
}
