.showday {
  padding: $main-section-padding;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: 100%;
}

.showday__event-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .event-list__item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    list-style-type: none;
    border: 1px solid black;
    margin: 1rem 0;
    text-align: left;
  }

  .item__label {
    grid-column: 1 / span 10;
    grid-row: 1;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: $event-gray;
    margin-bottom: 3rem;
  }

  .item__buttons {
    grid-column: 11 / span 2;
    grid-row: 1;
    justify-self: end;
    display: flex;
    font-weight: bold;

    .item__edit,
    .item__delete {
      display: grid;
      place-items: center;

      width: 3rem;
      height: 3rem;
      border: 1px solid black;
    }

    .item__delete {
      @include button-reset;
      height: 3rem;
      border: 1px solid black;
    }

    .item__edit:hover {
      background-color: $primary;
      color: black;
    }
    .item__delete:hover {
      background-color: $danger;
    }
  }

  .item__location {
    grid-column: 1 / span 6;
    grid-row: 2;
  }

  .item__notes {
    grid-column: 7 / span 6;
    grid-row: 2;
    justify-self: end;
  }

  .event-list__btn-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .event-list__add-event-btn {
    @include button-primary;
  }

  .event-list__add-event-btn:hover {
    @include button-primary-hover;
  }
}
