.header__date {
  font-size: 6rem;
  font-family: $font2;
  text-transform: uppercase;
  flex: 1;

  @include respond-small {
    font-size: 2rem;
  }
}
.hidden {
  display: none;
}

.header__links {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__stats-icon {
  fill: white;
  width: 3rem;
  box-sizing: content-box;
  padding: 0 0.5rem;
}

.header__stats-icon:hover {
  border: 1px solid $primary;
}
